<!doctype html>
<title>c a m</title>
<head>
  <link href='https://fonts.googleapis.com/css?family=Sarpanch:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" href="static/images2/favicon.png" />

  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!--custom styles-->
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div class="container-fluid"></div>
<div id="front-pg-bg" class="front-pg-bg">

  <!--navbar-->
  <nav class="navbar navbar-toggleable-sm">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="mynav">
        <a class="nav-item nav-link" href="#front-pg-bg">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#about">ABOUT</a>
        <a class="nav-item nav-link" href="#skills">SKILLS</a>
        <a class="nav-item nav-link" href="#experience">EXPERIENCE</a>
        <a class="nav-item nav-link" href="#portfolio">PORTFOLIO</a>
        <a class="nav-item nav-link" href="#contact">CONTACT</a>
      </div>
    </div>
  </nav>
  <!--./navbar-->

  <!--blockchian sick-->
  <div id="particles-js"></div>
  <!--./blockchian sick-->

  <!-- logo webGL->
  <div id="figure-web" class="figure-web"></div>
  <!-./logo webGL-->



  <!--terminal-->
  <div class="terminal-left terminal-style" id="terminal-left">
    <div>
      <span id="terminal-short-info"></span>
      <span id="my-quote"></span>
      <span class="cursor"></span>
    </div>
  </div>
  <!--./ terminal-->

  <!--soundcloud player-->
  <div id="soundcloud">
    <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/68675282&amp;color=%23000000&amp;inverse=true&amp;auto_play=true&amp;show_user=true"></iframe>
  </div>
  <!--./soundcloud player-->


  <!--bug report
  <div id="bug-report">
    <a href="https://github.com/tony-elistratov/tony-elistratov.github.io/issues/new" title="I found a bug!"><img src="static/images/bug.png"></a>
  </div>
  ./bug report-->

</div>
</div>
<!--./frontpage-->

<!--content-->
<div class="content">

  <!--about parralax-->
  <div class="about-bg" id="about">
      <div class="heading">
          <span class="center">ABOUT</span>
      </div>
  </div>
  <!--./about parralax-->

  <!--about-->
  <div class="container" id="short-about-bio">
    <section>
      <div class="row">
        <article class="col-md-12 text-center" >
          <p id="my-bio">To describe the nature of this artificial man, I will consider<br>
            First, the matter thereof, and the artificer; both which is man.<br>
            Secondly, how, and by what covenants it is made; what are the rights<br>
            Thirdly, what is a Christian Commonwealth.<br>
            Lastly, what is the Kingdom of Darkness.<br>
            <i>Hobbs, 1651</i>
          </p>
        </article>
      </div>
    </section>
  </div>
  <!--./about-->

  <!--skills parallax-->
  <div class="skills-bg" id="skills">
    <div class="heading">
      <span class="center">CRYPTOS</span>
    </div>
  </div>
  <!--./skills parallax-->

  <!--skills-->
  <div class="container">
    <section>
      <div class="row" id="skills-short" style="padding-top: 40px;">

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/BTC.svg">
          <h3 class="text-center">Bitcoin</h3>
          <p>17x7XEjZMEXuywFCgaL5gsPpHjtetWaBYq </p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/ETH-alt.svg">
          <h3 class="text-center">Ethereum</h3>
          <p>0x07aBaAfFe732eFCA99d22495F64a1c185C9BD090</p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/ADA-alt.svg">
          <h3 class="text-center">Cardano</h3>
          <p>DdzFFzCqrht8So9JS8DfefPWCDK35SJPeGPDpQkBinBaSEFGYsfL1ub8NfjqC1bUjQo4cwsnJ7e32GaqN9dWKvvKUm5q5wKueuGHuSbK</p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/XMR.svg">
          <h3 class="text-center">Monero</h3>
          <p>48R1tZq1yV18eVCHYc7Zd9hhvHqJ4wxWdidQN7o199jMWtpEva8dPtDa24aJWNvYayGUtT2g2mo7AHJwuPtqumhi1XtuDXp</p>
        </article>
      </div>
    </section>
  </div>
  <!--./skills-->

  <!--experience parallax-->
  <div class="exp-bg" id="experience">
    <div class="heading">
      <span class="center">EXPERIENCE</span>
    </div>
  </div>
  <!--./experience parallax-->

  <!--experience-->
  <div class="container" >
    <section>
      <div class="row" style="padding-top: 40px;">
        <div class="col-md-12">
          <img class="msc" src="static/images/coding.png" style="float:left;" class="pull-left">
          <p class="pull-left msc-text" style="text-align: left;">Moscow Coding School is a coding bootcamp that offers a wide variety of part time courses. I was learning vanilla JavaScript, jQuery and AJAX there. I acquired my coding certificate from this bootcamp during fall 2016-2017.</p>
        </div>
        <div class="col-md-12">
          <img class="msc" src="static/images/coding_2.jpg" style="float:right;" class="pull-right">
          <p class="pull-right msc-text" style="text-align: right;">FreeCodeCamp is a nonprofit organization that consists of an interactive learning web platform. I was an active user during 2017-2018 and acquired my Front-End Development Certificate.</p>
        </div>
        <div class="col-md-12">
          <img class="msc" src="static/images/coding_3.png" style="float:left" class="pull-left">
          <p class="pull-left msc-text" style="text-align: left;">Seneca College of Applied Arts and Technology is a public college located in Toronto, Ontario, Canada. I am currently enrolled in one of the software engineering programs that Seneca offers. My expected graduation date is 2018.</p>
        </div>
      </div>
    </section>
  </div>
  <!--./experience-->

  <!--portfolio parallax-->
  <div class="portfolio-bg" id="portfolio">
    <div class="heading">
      <span class="center">PORTFOLIO</span>
    </div>
  </div>
  <!--./portfolio parallax-->

  <!--portfolio-->
  <div class="container">
    <section id="skills">
      <div class="row">

        <!--first row-->
        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>
        <!--./first row-->

        <!--second row-->
        <article class="col-md-4">
            <img class="mx-auto portfolio-sec" src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec " src="static/images/placeholder.jpg">
            <h3 class="text-center">Project #6</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut ullamcorper felis, ut sodales odio. Suspendisse lectus dui, efficitur eget molestie eget, commodo vel dui. Suspendisse eu mauris hendrerit, aliquam libero vel, ornare quam. Donec quis quam eleifend, auctor lorem a, placerat quam.</p>
        </article>
        <!--./second row-->

      </div>
    </section>
  </div>
  <!-- ./ portfolio -->

  <!-- contact parallax -->
  <div class="contact-bg" id="contact">
      <div class="heading">
          <span class="center">CONTACT</span>
      </div>
  </div>
  <!-- ./ contact parallax-->

  <!-- contact -->
  <div class='container' id="contact-form">
    <div class='row'>
      <div class='col-sm-12 col-sm-offset-1'>
        <div class='well'>
          <form>
            <div class='row'>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for='fname'>First Name</label>
                  <input type='text' name='fname' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='lname'>Last Name</label>
                  <input type='text' name='lname' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='email'>Email</label>
                  <input type='text' name='email' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='subject'>Subject</label>
                  <select name='subject' class='form-control'>
                    <option>Blockchain</option>
                    <option>Open Source Contribution</option>
                    <option>Other Inquiry</option>
                  </select>
                </div>
              </div>
              <div class='col-sm-8'>
                <div class='form-group'>
                  <label for='message'>Message</label>
                  <textarea class='form-control' name='message' rows='10'></textarea>
                </div>
                <div class='text-right'>
                  <input type='submit' onclick="alert('I will set up NodeJS script later');" class='btn btn-primary' value='Submit' />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--./contact-->

  <!--footer-->
  <div class="footer-bg">
    <div class="container-fluid text-center">
      <div class="row">
        <footer class="col-md-12">

          <span><a href="https://github.com/personaontherun">GitHub</a><br>

        </footer>
      </div>
    </div>
  </div>
  <!--./footer-->
</div>
<!-- ./ content -->
<!--./ terminal-->
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!--tether-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!--bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

<script src="static/js/particles.js"></script>
<script src="static/js/main.js"></script>


<script src="static/js/typed.min.js"></script>
<script src="static/js/terminal.js"></script>
<!--<script src="static/js/three.min.js"></script>-->
<!--<script src="static/js/Detector.js"></script>-->
<!--<script src="static/js/logo.js"></script>-->
</body>
