<!doctype html>
<title>c a m</title>
<head>
  <link href='https://fonts.googleapis.com/css?family=Sarpanch:400,600' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Share+Tech' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="static/css/cryptocoins.css">
  <link rel="stylesheet" href="static/css/style.css">
  <!--<link rel="stylesheet" href="static/css/cryptocoins-colors.css">-->

  <link rel="icon" type="image/png" href="static/images2/favicon.png" />

  <!--bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <!--custom styles-->
  <link rel="stylesheet" href="static/css/main.css">
</head>
<body>
<div class="container-fluid"></div>
<div id="front-pg-bg" class="front-pg-bg">

  <!--navbar-->
  <nav class="navbar navbar-toggleable-sm">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="mynav">
        <a class="nav-item nav-link" href="#front-pg-bg">HOME <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#about">ABOUT</a>
        <a class="nav-item nav-link" href="#skills">SKILLS</a>
        <a class="nav-item nav-link" href="#credentials">CREDENTIALS</a>
        <a class="nav-item nav-link" href="#projects">PROJECTS</a>
        <a class="nav-item nav-link" href="#contact">CONTACT</a>
      </div>
    </div>
  </nav>
  <!--./navbar-->

  <!--blockchian sick-->
  <div id="particles-js"></div>
  <!--./blockchian sick-->

  <!-- logo webGL->
  <div id="figure-web" class="figure-web"></div>
  <!-./logo webGL-->



  <!--terminal-->
  <div class="terminal-left terminal-style" id="terminal-left">
    <div>
      <span id="terminal-short-info"></span>
      <span id="my-quote"></span>
      <span class="cursor"></span>
    </div>
  </div>
  <!--./ terminal-->
  <!-- soundcloud for blank banshee 68675282  182972240  256782324-->

  <!--soundcloud player-->
  <div id="soundcloud">
    <iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/15720448&amp;color=%23000000&amp;inverse=true&amp;auto_play=true&amp;show_user=true"></iframe>
  </div>
  <!--./soundcloud player-->


  <!--bug report
  <div id="bug-report">
    <a href="https://github.com/tony-elistratov/tony-elistratov.github.io/issues/new" title="I found a bug!"><img src="static/images/bug.png"></a>
  </div>
  ./bug report-->

</div>
</div>
<!--./frontpage-->

<!--content-->
<div class="content">

  <!--about parralax-->
  <div class="about-bg" id="about">
      <div class="heading">
          <span class="center">ABOUT</span>
      </div>
  </div>
  <!--./about parralax-->

  <!--about-->
  <div class="container" id="short-about-bio">
    <section>
      <div class="row">
        <article class="col-md-12 text-center" >
          <p id="my-bio">I'm Cam Milligan, a Toronto based accoutant, python developer, and tech enthusiast.<br>
            By day, I'm a Chatered Professional Accountant workng in the finance industry.<br>
            My skillset is in forecast modeling, risk analytics, process control, and building IFRS or ASPE financial statements.<br>
            By night, I'm a developer and am focused on several open source projects detailed below.<br>
            I want to position myself as a bridge between finance and tech realms.<br>
            I'm also an avid reader of science fiction and fantasy.<br>
          </p>
        </article>
      </div>
    </section>
  </div>
  <!--./about-->

  <!--skills parallax-->
  <div class="skills-bg" id="skills">
    <div class="heading">
      <span class="center">SKILLS</span>
    </div>
  </div>
  <!--./skills parallax-->

  <!--skills-->
  <div class="container">
    <section>
      <div class="row" id="skills-short" style="padding-top: 40px;">

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/python.png">
          <h3 class="text-center">Python</h3>
          <p>I am a proficient developer of Python3. This website was developed using Flask and a lot of Javascript. I'm familiar with many other packages including but not limited to Pandas, NumPy, Requests, Boto3 </p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/bootstrap.png">
          <h3 class="text-center">Bootstrap</h3>
          <p>I know the general inner workings of bootstrap and the majority of this webpage is bootstrap driven.</p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/jquery.png">
          <h3 class="text-center">jQuery</h3>
          <p>I'm a novice in jQuery but I've identified it as an important area to improve.</p>
        </article>

        <article class="col-md-3">
          <img class="mx-auto skills-sec" src="static/images2/excel.png">
          <h3 class="text-center">Excel</h3>
          <p>I've used excel in a professional environment for several years. Some past projects included forecast modeling, risk analytics, statistical analysis, and financial statements</p>
        </article>
      </div>
    </section>
  </div>
  <!--./skills-->

  <!--credentials parallax-->
  <div class="exp-bg" id="credentials">
    <div class="heading">
      <span class="center">CREDENTIALS</span>
    </div>
  </div>
  <!--./credentials parallax-->

  <!--credentials-->
  <div class="container" >
    <section>
      <div class="row" style="padding-top: 40px;">
        <div class="col-md-12">
          <img class="msc" src="static/images2/cpa.png" style="float:left;" class="pull-left">
          <p class="pull-left msc-text" style="text-align: left;">Received my CPA designation in April 2017.</p>
        </div>
        <div class="col-md-12">
          <img class="msc" src="static/images2/cpa.png" style="float:right;" class="pull-right">
          <p class="pull-right msc-text" style="text-align: right;">Received my CPA designation in April 2017.</p>
        </div>
        <div class="col-md-12">
          <img class="msc" src="static/images2/mcmaster.png" style="float:left" class="pull-left">
          <p class="pull-left msc-text" style="text-align: left;">Completed an Honors Bachelor of Commerce in April 2014.</p>
        </div>
      </div>
    </section>
  </div>
  <!--./credentials-->

  <!--projects parallax-->
  <div class="portfolio-bg" id="projects">
    <div class="heading">
      <span class="center">PROJETS</span>
    </div>
  </div>
  <!--./projects parallax-->

  <!--projects-->
  <div class="container">
    <section id="skills">
      <div class="row">

        <!--first row-->
        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images2/zen.png"><br>
            <h3 class="text-center"><a href="https://zencashtools.herokuapp.com/">Zencash Tools</a></h3>
            <p>Zencash Tools is a non-profit community project I started in late 2017 with the goal developing a collection of user fiendly web apps to be used within the Zencash cryptocurrency ecosystem. Zencash is a privacy focused currency with amazing potential. One of the more polished tools provides users with a csv file containing an address's transaction history with historical prices to help Zencash miners track earnings.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images2/favicon.png"><br>
            <h3 class="text-center">Century Project</h3>
            <p>Century is the project name for this website. My plan is to always be updating, actively improving, and testing new features out here. Future plans include a blog section and an image gallery.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images2/raiden.png"><br>
            <h3 class="text-center">Project 3</h3>
            <p>To be determined.</p>
        </article>
        <!--./first row-->

        <!--second row-->
        <article class="col-md-4">
            <img class="mx-auto portfolio-sec" src="static/images2/solidity.svg"><br>
            <h3 class="text-center">Project 4</h3>
            <p>To be determined.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec" src="static/images2/rick.png"><br>
            <h3 class="text-center">Project 5</h3>
            <p>To be determined.</p>
        </article>

        <article class="col-md-4 text-justify">
            <img class="mx-auto portfolio-sec " src="static/images2/raspbian.png"><br>
            <h3 class="text-center">Project 6</h3>
            <p>To be determined.</p>
        </article>
        <!--./second row-->

      </div>
    </section>
  </div>
  <!-- ./ projects -->

  <!-- contact parallax -->
  <div class="contact-bg" id="contact">
      <div class="heading">
          <span class="center">CONTACT</span>
      </div>
  </div>
  <!-- ./ contact parallax-->

  <!-- contact -->
  <div class='container' id="contact-form">
    <div class='row'>
      <div class='col-sm-12 col-sm-offset-1'>
        <div class='well'>
          <form>
            <div class='row'>
              <div class='col-sm-4'>
                <div class='form-group'>
                  <label for='fname'>First Name</label>
                  <input type='text' name='fname' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='lname'>Last Name</label>
                  <input type='text' name='lname' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='email'>Email</label>
                  <input type='text' name='email' class='form-control' />
                </div>
                <div class='form-group'>
                  <label for='subject'>Subject</label>
                  <select name='subject' class='form-control'>
                    <option>Open Source Contribution</option>
                    <option>Blockchain</option>
                    <option>Other Inquiry</option>
                  </select>
                </div>
              </div>
              <div class='col-sm-8'>
                <div class='form-group'>
                  <label for='message'>Message</label>
                  <textarea class='form-control' name='message' rows='10'></textarea>
                </div>
                <div class='text-right'>
                  <input type='submit' onclick="alert('I will set up NodeJS script later');" class='btn btn-primary' value='Submit' />
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--./contact-->

  <!--footer-->
  <div class="footer-bg">
    <div class="container-fluid text-center">
      <div class="row">
        <footer class="col-md-12">
          <i class="cc BTC" onclick="alert('17x7XEjZMEXuywFCgaL5gsPpHjtetWaBYq');" title="BTC"></i>
          <i class="cc ETH-alt" onclick="alert('0x07aBaAfFe732eFCA99d22495F64a1c185C9BD090');" title="ETH"></i>
          <i class="cc LTC-alt" onclick="alert('LhWHWaKeQuTEt6Lu19WvKh8aA7bB5jjqQF');" title="LTC"></i>
          <i class="cc DASH-alt" onclick="alert('Xxu2hnaNvgZqBLa41jQjoRh8Q6vPX82rbk');" title="DASH"></i><br>
          <a style="color:white;" href="https://github.com/personaontherun">GitHub</a><br>

        </footer>
      </div>
    </div>
  </div>
  <!--./footer-->
</div>

<!-- <style>
   body {
      background: #fafafa;
      font-family: "Montserrat", "Lato", "Helvetica", "Arial", sans-serif;
   }
   #demo {
      width: 100%; max-width: 60rem;
      margin: 3rem auto;
   }
   .icons {
      margin: 3rem 0;
   }
   i.cc { font-size: 4rem; display: inline-block; margin: 0 1.3rem 1.3rem 0; transition: 0.1s ease all; }
   i.cc:hover { color: #0060BD; transform: rotate(-20deg); transform-origin: 0.49em 0.7em; }
</style> -->


<!-- ./ content -->
<!--./ terminal-->
<!--jquery-->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<!--tether-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<!--bootstrap-->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<!--particles-->
<script src="static/js/particles.js"></script>
<!--main-->
<script src="static/js/main.js"></script>
<!--typed-->
<script src="static/js/typed.min.js"></script>
<!--terminal-->
<script src="static/js/terminal.js"></script>

</body>
